*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #18191a !important;
  color: #fff !important;
}
p{
  margin: 0 !important;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
/* blur background */
.blur{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.575);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5555;
}
/* wrapper */
.wrapper{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
li{
  list-style: none;
}
.cursor-pointer{
  cursor: pointer;
}
button{
  font-size: 13.33px !important;
}
.pagination{
  display: flex;
  justify-content: center;
}
/* pagination */
.whiteTextPagination .MuiPaginationItem-page {
  color: #fff; /* Change the text color to white */
}
.whiteTextPagination .MuiPaginationItem-icon {
  color: #fff; /* Change the arrow color to black */
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
  
  background-color: #77c31d !important;
}
.whiteTextPagination .MuiPaginationItem-text{
  color: #fff;
}

/* Target the disabled button element */
button:disabled {
  opacity: 0.4 !important;
}

.card-header{
  border-bottom: 1px solid rgba(200, 200, 200, 0.245) !important;
}

.card-footer{
  border-top: 1px solid rgba(200, 200, 200, 0.245) !important;
}