.giveaway_row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media (max-width: 1024px) {
    .giveaway_row { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
    .giveaway_row { grid-template-columns: repeat(1, 1fr); }
}
  
.giveaway_card{
    display: flex;
    flex-direction: column;
    background: #242526;
    color: #fff;
    overflow: hidden;
    width: 100%;
}
.giveaway_card .giveaway_buttons {
    max-width: max-content;
    margin-top: auto;
    display: flex;
    gap: 10px;
}
/* giveaway profile */
.giveaway_profile{

}
.giveaway_profile img{
    height: 250px;
    object-fit: cover;
}
.giveaway_profile_row{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.giveaway_profile_row .giveaway_info{
    flex: 1;
}
.giveaway_profile_row .participants{
    width: 100%;
    max-width: 350px;
}
.par_row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #242526;
    padding: 10px 15px;
}
.par_row .participant{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 3px;
}
.participant:hover{
    background: #18191a;
}
.participant img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.participant .me{
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 5px;
}
.delete_card{
    max-width: 350px;
    background: #242526;
    color: #fff;
}
.deleteGiveawayForm_blur{
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.49);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5555;
    align-items: center;
    justify-content: center;
}
.deleteGiveawayForm{
    padding: 20px;
    background: #242526;
    max-width: 500px;
}