.chat_bg{
    height: 100vh;
    position: relative;
    background-image: url("../../assets/background_auth.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_container{
    background: #242526;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    display: flex;
    min-height: 616px;
}
/* left list */
.chat_container .side_list{
    padding: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* search conversation */
.side_list .search{
    position: relative;
    display: flex;
    background: #3a3b3c;
    border-radius: 20px;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 40px;
    color: #fff;
}
.search .search_results{
    position: absolute;
    overflow-y: auto;
    min-height: 200px;
    max-height: 250px;
    width: 100%;
    border-radius: 10px;
    background: #18191a;
    top: 120%;
    left: 0;
    z-index: 555;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search_results .search_result{
    background: #242526;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.search_results.no_result{
    justify-content: center;
}
.search_result .info{
    overflow: hidden;
}
.search_results .avatar{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.search_results .avatar img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}
.info p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info .email{
    font-size: 12px;
}
.search_results h2{
    width: 100%;
    text-align: center;
}
.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px;
    color: inherit;
}
/* conversation list */
.conversations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 420px;
    overflow-y: auto;
}
.conversations::-webkit-scrollbar {
    width: 5px;              /* width of the entire scrollbar */
}
  
.conversations::-webkit-scrollbar-track {
    background: #00000042;        /* color of the tracking area */
}
  
.conversations::-webkit-scrollbar-thumb {
    background-color: #025c4c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #18191a;  /* creates padding around scroll thumb */
}
.conversation{
    color: #fff;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}
.conversation.selected{
    background: #3a3b3c;
}
.conversation .unread{
    position: relative;
    min-width: 23.6px;
    aspect-ratio: 1/1;
    padding: 5px;
    background: #025c4c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.conversation .avatar{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.conversation .conversation_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.conversation .last_message_title{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
 .last_message{
    max-width:  110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.conversation .name_time{
    display: flex;
    justify-content: space-between;
}
/* conversation chat box */
.chat_container .chat_box{
    width: 100%;
    background: #18191a;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat_box_header{
    width: 100%;
    color: #fff;
    background: #242526;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat_box_header .avatar{
    width: 60px;
    height: 60px;
}
.chat_container .avatar img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.chat_box .chat_box_header .info{
    display: flex;
    gap: 10px;
}
.chat_box_header .participant_name{
    display: flex;
    gap: 10px;
}
.chat_box_header .menu_conversation{
    position: relative;
    display: flex;
    cursor: pointer;
}
.menu_conversation .menu{
    position: absolute;
    z-index: 555;
    top: 140%;
    right: 0;
    background: #3a3b3c;
    display: flex;
    flex-direction: column;
    width: max-content;
}
.menu span{
    padding: 10px;
}
.menu span:hover{
    background: rgba(36, 37, 38, 0.749);
}
.admin{
    background: rgb(74, 74, 74);
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 5px;
}
.chat_box .no-chat{
    color: #fff;
    position: absolute;
    text-align: center;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
/* messages */
.messages{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    min-height: 465px;
}
.message{
    color: #fff;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px;
}
.message p{
    overflow-wrap: break-word;
}
.messages .avatar{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.s, .r, .system{
    width: 100%;
    display: flex;
    gap: 10px;
}
.r .avatar{
    order: 2;
}
.r{
    justify-content: flex-end;
}
.s .message{
    background: #025c4c;
}
.r .message{
    background: rgb(74, 74, 74);
}
.system{
    justify-content: center;
}
.system .message{
    background: gray;
    max-width: max-content;
    font-size: 14px;
    padding: 3px 10px;
}
.message .sender_name{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 10px;
}
.message .message_date{
    margin-top: 15px !important;
    font-size: 12px;
}
.message_input{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
}
.message_input textarea{
    padding: 10px 20px;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: #3a3b3c;
    color: #fff;
    resize: none;
}
.icon_upload_image {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message_input .send{
    background: transparent;
    border: 0;
    cursor: pointer;
}
/* create group form */
.newGroupForm{
    width: 100%;
    max-width: 300px;
    background: #242526;
    color: #fff;
    padding: 20px;
}
.close_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}
.close_div span{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.newGroupForm .input_text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.input_text input{
    padding: 10px 10px;
    border: 0;
    outline: 0;
    background: #3a3b3c;
    border-radius: 5px;
    color: inherit;
}
.createGroupBtn{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: #3a3b3c;
    color: #fff;
    border: 0;
}
/* add to group form */
.addToGroupForm{
    width: 100%;
    max-width: 400px;
    background: #242526;
    color: #fff;
    padding: 20px;
    min-height: 400px;
}
.addToGroupForm input{
    background: transparent;
    border: 1px solid #fff;
    margin: 25px 0;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    color: inherit;
    border-radius: 5px;
}
.addToGroupForm .selected_users{
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    padding: 5px 0;
}
.addToGroupForm .AddUsersBtn{
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    background: #18191a;
    color: inherit;
    border: 0;
    cursor: pointer;
}
.addToGroupForm .searchResult{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 200px;
    width: 100%;
    position: relative;
    overflow-y: auto;
}
.user_result{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    min-width: max-content;
}
.user_result .avatar{
    width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
}
.selected_users{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}
.selected_users .user_result{
    background: #18191a;
    padding: 5px;
}
.selected_users .user_info{
    display: flex;
    gap: 10px;
}
.selected_users::-webkit-scrollbar {
    height: 6px;
    width: 4px;
}
.selected_users::-webkit-scrollbar-track {
    background: #00000042;        /* color of the tracking area */
}
.selected_users::-webkit-scrollbar-thumb {
    background-color: #025c4c;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    border: 1px solid #18191a;  /* creates padding around scroll thumb */
}
/* group participants menu */
.GroupParticipants{
    width: 100%;
    max-width: 450px;
    background: #242526;
    color: #fff;
    padding: 20px;
    min-height: 300px;
}
.GroupParticipants .participants{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 350px;
    overflow-y: auto;
}

.GroupParticipants .participant_result{
    background: #18191a;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.GroupParticipants .kick{
    color: inherit;
    cursor: pointer;
    background: #3a3b3c;
    padding: 10px 15px;
    border: 0;
}
.participant_result > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.GroupParticipants .user_email{
    font-size: 13px;
}
.sign{
    background: #3a3b3c;
    margin: 0 5px;
    padding: 0px 5px;
    border-radius: 5px;
}
/* confirm delete component */
.confirmDeleteGroup{
    background: #242526;
    color: #fff;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}
.confirmDeleteGroup h2{
    margin-bottom: 20px;
}
.confirmDeleteGroup .group_name_input{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group_name_input input{
    padding: 5px 0;
}
.confirmDeleteGroup .buttons{
    display: flex;
    gap: 20px;
}
.confirmDeleteGroup .buttons > *{
    flex: 1;
}
.confirmDeleteGroup button{
    border: 0;
    padding: 10px 20px;
    background: #025c4c;
    color: inherit;
    cursor: pointer;
}
.cancelBtn{
    background: rgb(169, 14, 14) !important;
}
.DeleteBtn:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}