.newTopic_form{
    background-color: #242526;
}
.newTopic_form .textarea{
    resize: none;
}
.newTopic_form input, .newTopic_form textarea{
    background: #3a3b3c;
    color: #fff !important;
}
.newTopic_form input::placeholder, .newTopic_form textarea::placeholder{
    color: #fff !important;
}
.newTopic_form input:focus, .newTopic_form textarea:focus {
    background: #3a3b3c !important;
}