.editTopic_form .textarea{
    resize: none;
}
.editTopic_form{
    background: #242526;
}
.editTopic_form input, .editTopic_form textarea{
    background: #3a3b3c;
    color: #fff !important;
}
.editTopic_form input::placeholder, .editTopic_form textarea::placeholder{
    color: #fff !important;
}
.editTopic_form input:focus, .editTopic_form textarea:focus {
    background: #3a3b3c !important;
}